<!DOCTYPE html>
<html>
    <style>
    body {
        background-color: black;
        color: white;
    }
    </style>

    <head>
        <meta charset="utf-8">
        <title>SpaceTime Calculator</title>
    </head>

    <body>

        <h1>Help</h1>
        <a style="color:white" href="{{ url_for('index') }}">Home</a>
        <br>
        <div style="width:90ch">
        <pre style="white-space: pre-wrap;">
This tool is intended to be used to sum up intervals of time worked on different charge numbers. It will notify of breaks taken throughout the day and invalid time entries (overlapping entries or non ordered entries).

The time ranges in every line are required to be dashed intervals, comma separated and sorted. An identifier, followed by a space is required, at the beginning of each time entry line.

Time can be passed in with minutes or frational hours. The fractional hours will be calculated from minutes with precision through the summation. Totals are rounded to the nearest tenth and the subtime entries are ensured to add up to the actual total. In order to do this, subtimes are adjusted to remove any rounding discrepancy. A preference is given to adjust subtimes closest to rounding the other way and then to subtimes with a larger amount of time worked. Rest assured that subtime adjustments do not short the employee any time worked and give the most accurate breakdown of time worked per category.

The time is computed with two different methods. The first method assumes that the time inputs are ordered by the first time in each line. The second method assumes that lines starting with a PM time are encoded with a 'p' or written in 24 hour format (ie. 'id1 1p-2' or 'id2 13-2' rather than 'id3 1-2'). If these calculations compute different results for breaks or totals, both results are displayed. It is recommended to format inputs according to one of the calculation methods.

    Example inputs:

        id1 8-8:30, 9-9:30, 11-1, 1:42-3:12, 4:12-6
        id2 8:30-9, 9:30-11, 1-1:42, 3:12-4:12

        or

        id1 8-8.5, 9-9.5, 11-1, 1.7-3.2, 4.2-6
        id2 8.5-9, 9.5-11, 1-1.7, 3.2-4.2

        or

        id1 8-12, 4-5
        id2 12-4
        id3 6p-9

        or

        id1 8-12, 4-5
        id2 12-4
        id3 18-9

    Example outputs:

        totals
        id1 = 3.7 hrs
        id2 = 6.3 hrs
        total: 10.0

        or

        breaks
        12:00p-1:00p = 1.0 hr

        totals
        id1 = 4.0 hr
        total: 4.0 hr

        or

        totals
        id1 = 5.0 hr
        id2 = 4.0 hr
        id3 = 3.0 hr
        total: 12.0 hr


If you notice a calculation error, please <a style="color:white" href="mailto:7daniel49@gmail.com">contact</a> the maintainer with the time input.

<a style="color:white" href="https://github.com/danielfrentzel/spacetime-calculator">Source</a>
        </pre>
        </div>

</html>
